.cad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.car1{
    display: inline-flex;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-block-end: 15px;
}

#syu{
    text-decoration: none;
    color: black;
}

#mix{
    background-color: rgb(241, 207, 9);
    border: 0.5px solid black;
    width: auto;
    height: auto;
}

#al{
    display: flex;
    justify-content: space-around;
}

.all1{
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#ht{
    border: 1px solid black;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
    margin-top: 10px;
    margin-block-end: 10px;
    background-color: green;
}

#ht:hover{
    background-color: blue;
    color: white;
}

#uno{
    border: 1px solid black;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
    margin-top: 10px;
    margin-block-end: 10px;
    background-color: red;
}

#kl{
    border: 1px solid black;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: color 0.5s, background 0.5s;
    margin-top: 10px;
    margin-block-end: 10px;
    background-color: rgb(15, 240, 240);
}

#kl:hover{
    background-color: gray;
    color: white;
}

#uno:hover{
    background-color: blueviolet;
    color: white;
}